* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

h3 {
    font-size: 22px;
}

.main-header {
    background: linear-gradient(to right, blue, #00008B);
    padding: 1%;
    text-align: center;
    font-size: 35px;
    color: white;
    font-weight: bold;
}

.search-for {
    color:black;
    font-weight: bolder;
    font-size: 30px;
}

.search-bar {
    border-radius: 8px;
    border:1px solid black;
    padding: 3px;
    height: 50px;
    width: 300px;
    display: flex;
}

.search {
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 0px;
    height: 30px;
    width: 300px;
    text-align: center;
    margin: 0;
    margin-bottom: 0rem;
    background-color: rgb(94, 158, 255);
    color: white;
}

.ul ul {
    margin: 0rem;

}

.search-history {
    margin: 0;
}

.past-search {
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 0;
    height: 30px;
    width: 300px;
    text-align: center;
    margin-left: 0;
    margin: 20;
    background-color: rgb(144, 155, 165);
    color: black;
}

.main-content {
    padding-left: 14px;
    border: 2px solid black;
    height: 40%;
}

.forecast {
    border: 1px hidden;
    padding: 5px;
    margin: 5px;
    margin-left: 100px;
}

.five-day {
    size: 20px;
    margin-bottom: 0;
    margin-left: 100px;
    text-align: center;
}

.day1-con {
    display: flex;
    flex-wrap: wrap;
    border: 1px hidden;
    background-color: rgb(48, 60, 95);
    color: white;
    margin-right: 20px;
    padding-left: 3%;
    padding-right: 3%;
}

.day2-con {
    display: flex;
    flex-wrap: wrap;
    border: 1px hidden;
    background-color: rgb(48, 60, 95);
    color: white;
    margin-right: 20px;
    padding-left: 3%;
    padding-right: 3%;
}

.day3-con {
    display: flex;
    flex-wrap: wrap;
    border: 1px hidden;
    background-color: rgb(48, 60, 95);
    color: white;
    padding: 0;
    margin-right: 20px;
    padding-left: 3%;
    padding-right: 3%;
}

.day4-con {
    display: flex;
    flex-wrap: wrap;
    border: 1px hidden;
    background-color: rgb(48, 60, 95);
    color: white;
    padding: 0;
    margin-right: 20px;
    padding-left: 3%;
    padding-right: 3%;
}

.day5-con {
    display: flex;
    flex-wrap: wrap;
    border: 1px hidden;
    background-color: rgb(48, 60, 95);
    color: white;
    padding: 0;
    margin-right: 20px;
    padding-left: 3%;
    padding-right: 3%;
}